services:
  risk-profiler-api:
    build: 
      context: .
      dockerfile: Dockerfile
    image: sarva_risk_profiler_api:{$TAG}
    container_name: sarva_risk_profiler_api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - "4001:4001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev

